<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <footer class="fixed-bottom text-center" style="background-color: black; color: white">
        <p class="mt-2 mb-0">QR Code Genterator Copyright</p>
    </footer>

</body>

</html>