<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Generator</title>

    <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css" />

</head>
<body>

    <header class="d-flex justify-content-between align-items-center" style="background-color: black; color: white">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src = "./qr-code-236.png" style="height: 50px;" class="ms-4"/>
            <h1 class="d-inline-block mt-2" style="font-weight: 500; font-family: arial; font-size: 30px;">QR Code Generator</h1>
        </div>
        <a class="text-white me-4">FAQ</a>

    </header>
    
</body>
</html>