<%- include("./partials/header.ejs") %>



<main class="container d-flex justify-content-center align-items-center" style="height: 700px;">

    <form action="/link-submit" method="POST" class="qr-code-form">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="qr-code-input">
                <label for="name">Enter URL: </label>
                <input type="text" name="link" id="link" placeholder="example.com" required />
            </div>
            <br />
            <button type="submit" style="background-color: rgb(83, 183, 217); color: white; border: 2px solid grey; margin-left: 5px; border-radius: 5px;">Generate</button>
        </div>
    </form>

</main>

<%- include("./partials/footer.ejs") %>