<%- include("./partials/header.ejs") %>



<main>

    <form action="/link-submit" method="POST" class="qr-code-form">
        <div class="qr-code-input">
            <label for="name">Enter URL: </label>
            <input type="text" name="link" id="link" placeholder="https://" required />
        </div>
        <button type="submit">Generate</button>
    </form>

</main>

<%- include("./partials/footer.ejs") %>